@import '@fontsource/open-sans';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-primaryText;
  /* Apply the global text color */
  font-family: 'Open Sans', sans-serif;
}

.formkit-label {
  font-size: 16px;
  line-height: 24px;
}

@layer base {
  .btn {
    @apply flex rounded-[5px] px-2 py-1 border;
  }

  /* Pagination for Maintenance List  Page Start*/
  .bh-pagination {
    @apply flex justify-end items-end gap-4 text-base leading-6 py-8;
  }

  .bh-flex {
    @apply flex-row;
  }

  .bh-pagination .previous-page,
  .bh-pagination .next-page {
    @apply font-bold border border-primary;
  }

  .bh-pagination .previous-page.disabled,
  .bh-pagination .next-page.disabled {
    @apply text-gray-400 border-gray-400;
  }

  .bh-pagination-number {
    @apply flex gap-4 py-4;
  }

  .bh-pagination-number .bh-page-item {
    @apply text-primary;
  }

  .bh-page-item.bh-active {
    @apply text-primaryText;
  }

  /* Pagination for Maintenance List  Page End*/

  /* Grouped List */
  .group-header {
    @apply text-xl pb-2 border-b mb-4 mt-5;
  }
  .list-row {
    @apply border rounded-[5px] p-4 mb-4;
  }
  /*Detail Page Section Header*/

  .section-header {
    @apply text-xl leading-[27.24px] my-4 font-semibold;
  }

  .section-wrapper {
    @apply flex flex-row my-4;
  }

  .m-section {
    @apply w-full flex-col justify-start gap-4 mb-8 flex;
  }

  .m-section-header {
    @apply text-xl font-semibold leading-7 border-b pr-3 pb-2 border-[#c6cad3] text-[#3f4e6a];
  }

  .m-section-detail {
    @apply flex flex-col text-base leading-6 text-[#3f4e6a];
  }

  .m-section-subheader {
    @apply flex-1 font-bold;
  }

  .job-title {
    @apply flex flex-row py-2 text-[#3f4e6a] text-2xl font-semibold;
  }

  .action-button {
    @apply py-2 px-7 rounded-md font-bold border border-primary text-primary;
  }

  .action-button.active {
    @apply bg-primary text-white;
  }
}

.p-dataview,
.p-dataview-content,
.p-dataview-paginator-bottom {
  border: none !important;
}

.landlord .p-paginator {
  justify-content: end;
  margin: 32px 0;
}

.landlord .p-paginator-page {
  padding: 10px;
}

.landlord .p-paginator-first,
.landlord .p-paginator-last,
.landlord .p-paginator-prev,
.landlord .p-paginator-next,
.landlord .p-paginator-page {
  @apply text-primary;
  margin: 0 5px;
}

.landlord .p-paginator-content .p-icon {
  width: 30px;
  height: 30px;
  padding: 3px;
}

.landlord .p-paginator-first,
.landlord .p-paginator-last,
.landlord .p-paginator-prev,
.landlord .p-paginator-next {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  margin: 0 5px;
}

.landlord .p-paginator-first.p-disabled,
.landlord .p-paginator-last.p-disabled,
.landlord .p-paginator-prev.p-disabled,
.landlord .p-paginator-next.p-disabled,
.landlord .p-paginator-page.p-disabled {
  @apply text-gray-400;
}
